@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --main-btn-color: hsla(216, 57%, 50%, 1);
    --main-text-color: hsla(0, 0%, 17%, 1);
    --font-family: 'Lato', sans-serif;
    --benefits-text-color: hsla(235, 15%, 26%, 1);
    --main-text-box: hsla(0, 0%, 100%, 1);

}

.container {
    width: 1770px;
    margin: 0 auto;
}

p , h1 , h2 , h3, input {
    margin: 0;
    padding: 0;
}

section:first-child {
    padding-top: 30px;
}

section {
    padding-top: 45px;
    padding-bottom: 45px;
}

@media (max-width: 1024px) {
.container {
    width: 940px;
    margin: 0 auto;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

}

@media (max-width: 768px) {
    .container {
        width: 700px;
    }

    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 280px;
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
