@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.header__logo {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.06em;
    color: #2D2D2D;
}

.header__logo-style {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.06em;
    color: #3670C7;
}

.header__menu {
    width: 151px;
    height: 54px;
    background: #3670C7;
    border-radius: 10px;
    border-style: none;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}

.header__input-form {
    display: flex;
    align-items: center;
}

.header__input {
    position: relative;
    width: 757px;
    height: 54px;
    background: #EFEFEF;
    border-radius: 30px;
    border-style: none;
    text-indent: 40px;
    outline: none;
}

.header__input::placeholder {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #8F8F8F;
}

.header__input-btn {
    position: relative;
    width: 101px;
    height: 54px;
    background: #3670C7;
    border-radius: 30px;
    border-style: none;
    z-index: 1;
    right: 102px;
    cursor: pointer;
    margin-right: -102px;
}

.header__figure-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__four {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 87px;
}

.header__figure-text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    color: #2D2D2D;
}

.header__figure-svg {
    position: relative;
    margin-bottom: 0;
}

.header__svg-item {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFFFFF;
    z-index: 1;
    top: -34px;
    left: 12px;
    text-align: center;
    margin-bottom: -14px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #3670C7;
}

.header__figure-click {
    text-decoration: none;
}

.header__grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;
    align-items: center;
}

.header__grid-container:last-child {
    gap: 87px;
}

@media (max-width: 1024px) {
.header__logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.06em;
}

.header__logo {
    order: 1;
}

.header__input {
    width: 700px;
}

.header__one {
    order: 1;
}

.header__two {
    order: 5;
}

.header__three {
    order: 6;
}

.header__four {
    order: 2;
    justify-content: end;
    gap: 40px;
}

.header__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    column-gap: 0;
}

.header__grid-container:last-child {
    gap: 34px;
}
}

@media (max-width: 768px) {
.header__grid-container {
    gap: 0px;
}

.header__grid-container:last-child {
    column-gap: 0;
    row-gap: 29px;
}

.header__logo {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.06em;
}
.header__logo-style {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.06em;
}
.header__figure-svg {
    width: 20px;
    height: 20px;
}
.header__figure-text {
    font-size: 12px;
    line-height: 130%;
}

.header__svg-item {
    top: -24px;
}

.header__menu {
    width: 115px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.header__input {
    width: 540px;
    height: 42px;
}

.header__input::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
}

.header__input-btn {
    width: 82px;
    height: 42px;
    right: 82px;
}

.header__input-btn svg {
    width: 21px;
    height: 21px;
}
}

@media (max-width: 320px) {
.header__grid-container {
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-template-rows: 30px;
    justify-content: space-between;
    align-items: center;
    column-gap: 0;
}

.header__grid-container:last-child {
    column-gap: 0px;
    row-gap: 20px;
}

.header__four {
    order: 2;
    gap: 25px;
    grid-row: 2;
    grid-column: 2;
}

.header__one {
    order: 1;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.header__two {
    order: 2;
    grid-row: 2;
    grid-column: 1;
}

.header__three {
    order: 4;
    grid-row: 3;
    grid-column: 1 / span 2;
}

.header__figure-text {
    display: none;
}
.header__logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
}

.header__logo-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.06em;
}

.header__menu {
    width: 79px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.header__menu svg {
    height: 14px;
    width: 14px;
}

.header__input {
    width: 280px;
    height: 30px;
}

.header__input::placeholder {
    font-size: 8px;
}

.header__input-btn {
    width: 50px;
    height: 30px;
    right: 52px;
}

.header__input-btn svg {
    height: 14.58px;
    width: 14.58px;
}
}